/* Reset and base styles */
:root{
    --main-color: #74e5ff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: POPPINS, 'Arial', sans-serif;
}

html{
  scrollbar-width: none;
}

a{
    text-decoration: none;
}

body {
    background-color: #1e1e1e;
    color: #fff;
    line-height: 1.6;
}

/* Header and Navigation */
.header {
    background: linear-gradient(45deg, #3f51b5, #2196f3);
    color: white;
    padding: 1rem 0;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem;
    margin-left: 2rem;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
    margin-top: 0.5rem;
}

.nav-links li {
    margin: 0 1rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ffd1dc;
}

.nav-links a i{
    font-size: 30px;
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 2rem;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px;
    transition: all 0.3s ease;
}

/* Sections */
section {
    padding: 6rem 2rem;
    margin-top: 5rem;
}

.home-section {
    background: linear-gradient(45deg, #3f51b5, #2196f3);
    color: white;
    padding: 10rem 2rem;
    text-align: center;
    height: 70vh;
}

.home-section h2 {
    font-size: 5rem;
    line-height: 50px;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.home-section h2 .title-emphasis{
    color: var(--main-color);
    font-size: 5rem;
    animation: titleAnimation 20s infinite;
    margin-bottom: 40px;
}

.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem;
}

.search-bar #search {
    padding: 1rem;
    width: 100%;
    max-width: 700px;
    border: none;
    border-radius: 10px 0 0 10px;
    display: block;
    color: #fff;
    background-color: #333;
    outline: none;
}

.search-bar button{
    /* width: 40px; */
    padding: 0.7rem;
    max-width: 400px;
    border: none;
    border-radius: 0 5px 5px 0;
    display: block;
    color: #fff;
    background-color: var(--main-color);
    margin-right: 20px;
    outline: none;
}

.search-bar button i{
    color: #000;
    font-size: 25px;
}

.book-sections {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
}

.section-box {
    min-width: 150px;
    height: 70px;
    margin-right: 10px;
    background-color: #ffffff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    border-radius: 5px;
}

.section-box:hover h5{
    opacity: 1;
}

.section-box img{
    width: 150px;
    height: 70px;
    border-radius: 5px;
}

.section-box h5{
    opacity: 0;
    position: absolute;
    min-width: 150px;
    height: 70px;
    background: linear-gradient(4deg, #0ef, #00000000);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    border-radius: 5px;
    transition: all 0.3s;
}

.book-sections::-webkit-scrollbar{
    height: 5px
}
  
.book-sections::-webkit-scrollbar-thumb{
    background-color: rgb(188, 188, 188);
    border-radius: 5vw;
}

/* Catalog Section */
.catalog-section {
    background-color: #2c2c2c;
    padding: 6rem 2rem;
    text-align: center;
}

.catalog-section h2{
    font-size: 3rem;
    text-align: center;
}

.book-list {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    padding: 1rem 0;
}

.book-list::-webkit-scrollbar{
  height: 5px
}

.book-list::-webkit-scrollbar-thumb{
  background-color: grey;
  border-radius: 5vw;
}

.book-card {
    background: #333;
    border: 1px solid #444;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    cursor: pointer;
    text-align: left;
    max-width: 200px;
    flex: 0 0 auto;
    overflow: hidden;
}

.book-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #444;
}

.book-details {
    padding: 1rem;
}

.book-details h3,
.book-details p {
    margin: 0;
    color: #fff;
}

.book-card:hover {
    transform: translateY(-5px);
}

/* Responsive Design */
@media (max-width: 768px) {
    .book-list {
        flex-wrap: nowrap;
        overflow-x: auto;
        padding: 1rem 0;
    }

    .book-card {
        flex: 0 0 auto;
        margin-right: 1rem;
    }
}

/* About Section */
.about-section {
    background: #2c2c2c;
    text-align: left;
}

/* Contact Section */
.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2c2c2c;
    text-align: center;
}

.contact-form {
    min-width: 300px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form label {
    margin: 0.5rem 0;
}

.contact-form input,
.contact-form textarea {
    padding: 0.5rem;
    width: 80%;
    max-width: 400px;
    margin-bottom: 1rem;
    border: 1px solid #444;
    border-radius: 5px;
    color: #fff;
    background-color: #333;
    outline: none;
}

.contact-form button {
    width: 80%;
    max-width: 400px;
    background: linear-gradient(135deg, #3f51b5, #2196f3);
    border: none;
    font-size: 15px;
}

/* Footer */
.footer {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    background: #0ef;
    text-decoration: none;
    font-size: 30px;
    color: black;
    border-radius: 5px;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
    text-align: left;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Animations */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.home-content {
    animation: fadeInUp 1s ease;
}

.book-card {
    animation: fadeInUp 0.5s ease;
}

/* Burger menu animations */
.burger.toggle {
    transition: transform 0.3s ease-in-out;
    transform: rotate(90deg);
}

/* Book card fade in and fade out animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.fade-in {
    animation: fadeIn 0.5s forwards;
}

.fade-out {
    animation: fadeOut 0.5s forwards;
    display: none; /* Ensure the element is removed from the layout */
}

/* Modal animations */
.modal-open {
    animation: modalFadeIn 0.3s forwards;
}

.modal-close {
    animation: modalFadeOut 0.3s forwards;
}

@keyframes modalFadeIn {
    from { opacity: 0; transform: translateY(-50px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes modalFadeOut {
    from { opacity: 1; transform: translateY(0); }
    to { opacity: 0; transform: translateY(-50px); }
}


/* Responsive Design */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 100%;
        top: 70px;
        left: 0;
        background-color: #333;
        text-align: center;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
        z-index: 1;
    }
    
    .nav-links li {
        margin: 20px 0;
    }
    
    .nav-links.nav-active {
        display: flex;
    }
    
    .burger {
        display: flex;
/*         position: absolute; */
        top: 0.5rem;
        right: 1rem;
        z-index: 2;
    }
}
