@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anek+Malayalam:wght@100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* setting main elements */
:root {
    --main-color: #fddf89;
    --bg-color: #ffffff;
    --second-bg-color: #efefef;
    --text-color: #181818;
    --dark-color-1: #00000015;
    --dark-color-2: #00000033;
}

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
    transition: all 0.3s;
}

a {
    color: var(--text-color);
}

/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 30px;
    background-color: var(--bg-color);
    color: var(--text-color);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    /* Adjust logo size */
    height: auto;
    margin-right: 10px;
    border-radius: 3px;
}

.logo p {
    font-size: 1.5rem;
    font-weight: bold;
    /* White text */
}

.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* search bar*/
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
}

.search-bar {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}

.search-bar::placeholder {
    color: #9e9ea7;
}

.search-bar:focus,
input:hover {
    outline: none;
    border-color: rgba(234, 76, 137, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}

.menu button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--text-color);
    padding: 10px;
    transition: transform 0.3s ease;
}

.menu button:hover {
    transform: scale(1.1);
    /* Slight zoom on hover */
}

.menu button:focus {
    outline: none;
    /* Remove default focus outline */
}

/* Mobile-friendly adjustments */
@media (max-width: 768px) {
    .navbar {
        padding: 10px 20px;
    }

    .logo p {
        font-size: 1.2rem;
    }

    .menu button {
        font-size: 1.2rem;
    }
}